<%-include('../partials/header')%>
  <%-include('../partials/navbar')%>
    <%-include('../partials/sidebar')%>
      <div class="content-wrapper" style="min-height: 1604.62px">
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Category</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                  <li class="breadcrumb-item"><a href="/productsDetail">E-commerce</a></li>
                  <li class="breadcrumb-item active">All categories</li>
                </ol>
              </div>
            </div>
          </div>
        </section>

        <section class="content">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Category</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="card-refresh" id="reloadData" onclick="location.reload()" data-source-selector="#card-refresh-content" data-load-on-init="false" title="refresh">
                  <i class="fas fa-sync-alt"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0">
              <% if (categories.length>0) { %> 
              <table class="table table-striped projects">
                <thead>
                  <tr>
                    <th style="width: 1%">S.No</th>
                    <th style="width: 10%">Category Name</th>
                    <th style="width: 4%">Category Logo</th>    
                    <th style="width: 8%" class="text-center">Status</th>
                    <th style="width: 6%" class="text-center">Operations</th>
                  </tr>
                </thead>
                <tbody>
                  <% categories.forEach((category,i)=> { %>
                      <tr>
                        <td>
                          <%=i+1%>
                        </td>
                        <td>
                          <a>
                            <%=category.category_name%>
                          </a>
                          <br />
                       
              </td>
              <td>
                <ul class=" list-inline">
                              <li class="list-inline-item">
                                <% if (category.image) { %>
                                    <img alt="Avatar" class="table-avatar" src="<%=category.image%>" />
                                <% } %>
                              </li>
                              </ul>
                        </td>

                        <td class="project-state">
                          <span class="badge badge-<%=category.cat_status==='active'?'success':'danger'%>">
                            <%=category.cat_status%>
                          </span>
                        </td>
                        <td class="project-actions text-right">
                          <button class="btn btn-primary btn-sm" value="<%=category._id%>"
                            onclick="location.href=`/<%=category._id%>`">
                            <i class="fas fa-folder"> </i>
                            View
                          </button>
                          <button data-bs-toggle="modal" data-bs-target="#Modal<%=i%>" class="d-none"
                            id="modelpopup<%=i%>"></button>
                          <button class="btn btn-info btn-sm" id="<%=category._id%>"
                            onclick="bringCategoryData(event,`<%=i%>`)">
                            <i class="fas fa-pencil-alt"></i>
                            Edit
                          </button>

                          <!-- Modal -->
                          <div class="modal fade" id="Modal<%=i%>" tabindex="-1" aria-labelledby="Modal<%=i%>"
                            aria-hidden="true">
                            <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
                            <div class="modal-dialog modal-xl" style="margin: 0;">
                              <div class="modal-content" style="width: 100vw;">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="<%=i%>exampleModalLabel">
                                    Update Category
                                  </h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="width: 100vw;">
                                  <div class="row">
                                    <div class="form-group">
                                      <label for="<%=i%>product_name" class="float-left">Category Name</label>
                                      <input type="text" id="<%=i%>product_name" name="<%=i%>product_name"
                                        class="form-control" />
                                    </div>
                                    <div class="form-group">
                                      <label for="<%=i%>product_status" class="float-left">Status</label>
                                      <select id="<%=i%>product_status" class="form-control custom-select"
                                        name="<%=i%>product_status">
                                        <option>active</option>
                                        <option>inactive</option>
                                      </select>
                                    </div>
                                    <h2 class="d-flex">Category logo</h2>
                                    <div class="productImage d-flex flex-wrap">
                                      <label for="<%=i%>inputImage1">
                                        <img class="border mx-2" width="200" height="200"
                                          src="../adminUtilities/defaultProductForm.png" id="<%=i%>previewImage1"
                                          alt="" />
                                      </label>
                                    </div>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    Close
                                  </button>
                                  <button type="button" id="<%=i%>saveChanges" value="<%=category._id%>"
                                    onclick="handleDataUpdate(event,`<%=i%>`)" class="btn btn-primary">
                                    Save changes
                                  </button>
                                </div>
                              </div>
                            </div>
                            <!-- </div> -->
                          </div>

                          <!-- <form action="" method="delete"> -->
                          <button class="btn btn-danger btn-sm" value="<%=category._id%>"
                            onclick="deleteProduct(event,`<%=i%>`)">
                            <i class="fas fa-trash"></i>
                            Delete
                          </button>
                        </td>
                      </tr>
                      <% }) %>
                        <% } else { %>
                          <div>
                            <img width="70%" src="https://tampcol.com/public/assets/images/product_not_found2.png" alt="loading..">
                          </div>
                          <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>


      <%-include('../partials/footer')%>
<!-- <script>
  $(document).ready(function() {
  $('#summernote').summernote();
});

const bringProductData = async (event, i) => {
          let token = document.cookie;
          const product_id = event.target.id;
          token = token.replace("token=", "");
          token = token.replace("%20", " ");

          const resp = await fetch(
            `http://localhost:8000/api/v1/product/${product_id}`,
            {
              method: "GET",
              headers: {
                authorization: token,
                "Content-Type": "application/json",
              },
            }
          );
          const data = await resp.json();
          if (data.success) {
            document.getElementById(`modelpopup${i}`).click();
            document.getElementById(`${i}product_name`).value =
              data.product.product_name;
            document.getElementById(`${i}description`).value =
              data.product.description;
            document.getElementById(`${i}category_name`).value =
              data.product.category_id.category_name;
            document.getElementById(`${i}product_status`).value =
              data.product.product_status;
            document.getElementById(`${i}stock_quantity`).value =
              data.product.stock_quantity;
            document.getElementById(`${i}price`).value =
              data.product.price;
            if (data.product.product_images.length > 0) {
              document.getElementById(`${i}previewImage1`).src = data
                .product.product_images[0]
                ? data.product.product_images[0]
                : "../adminUtilities/defaultProductForm.png";
              document.getElementById(`${i}previewImage2`).src = data
                .product.product_images[1]
                ? data.product.product_images[1]
                : "../adminUtilities/defaultProductForm.png";
              document.getElementById(`${i}previewImage3`).src = data
                .product.product_images[2]
                ? data.product.product_images[2]
                : "../adminUtilities/defaultProductForm.png";
              document.getElementById(`${i}previewImage4`).src = data
                .product.product_images[3]
                ? data.product.product_images[3]
                : "../adminUtilities/defaultProductForm.png";



              document.getElementById(`${i}category_name`).value =
                data.product.category_id.category_name;
            }
          } else {
            console.log(data);
          }
        };
        const handleDataUpdate = async (event, i) => {
          let token = document.cookie;
          token = token.replace("token=", "");
          token = token.replace("%20", " ");
          let product_name = document.getElementById(
            `${i}product_name`
          ).value;
          let description = document.getElementById(
            `${i}description`
          ).value;
          let category_name = document.getElementById(
            `${i}category_name`
          ).value;
          let product_status = document.getElementById(
            `${i}product_status`
          ).value;
          let stock_quantity = document.getElementById(
            `${i}stock_quantity`
          ).value;
          let price = document.getElementById(`${i}price`).value;
          let id = document.getElementById(`${i}saveChanges`).value;

          let img1 = document.getElementById(`${i}inputImage1`).files[0];
          let img2 = document.getElementById(`${i}inputImage2`).files[0];
          let img3 = document.getElementById(`${i}inputImage3`).files[0];
          let img4 = document.getElementById(`${i}inputImage4`).files[0];

          let images = [img1, img2, img3, img4];
          let productImages = images.filter(image => image !== undefined)
          const formdata = new FormData();
          formdata.append("product_name", product_name);
          formdata.append("description", description);
          formdata.append("category_name", category_name);
          formdata.append("product_status", product_status);
          formdata.append("stock_quantity", stock_quantity);
          formdata.append("price", price);

          if (productImages.length > 0) {
            productImages.forEach((image, i) => {
              formdata.append('productImages', image)
            })
          }

          const res = await fetch(
            `http://localhost:8000/api/v1/product/${id}`,
            {
              method: "PUT",
              headers: {
                authorization: token,
              },
              body: formdata,
            }
          );
          const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.onmouseenter = Swal.stopTimer;
              toast.onmouseleave = Swal.resumeTimer;
            },
          });
          const result = await res.json();
          if (result.success) {
            document.getElementById(`modelpopup${i}`).click();
            document.getElementById('reloadData').classList.add('text-danger')
            document.getElementById('reloadData').classList.add('spinner-grow')
            $(document).ready(function () {
              Toast.fire({
                icon: "success",
                title: result.message,
              });
            });
          } else {
            Toast.fire({
              icon: "error",
              title: result.error,
            });
            // console.log(result)
          }
        };
        const deleteProduct = async (event, i) => {
          const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
              confirmButton: "btn btn-success",
              cancelButton: "btn btn-danger"
            },
            buttonsStyling: true
          });
          swalWithBootstrapButtons.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel!",
            reverseButtons: true
          }).then(async(result) => {
            if (result.isConfirmed) {
              let token = document.cookie;
          token = token.replace("token=", "");
          token = token.replace("%20", " ");

          console.log('deleting', event.target.value)
          const deleteProduct = await fetch(`http://localhost:8000/api/v1/product/${event.target.value}`,{
            method:"DELETE",
            headers:{
              'Content-Type':'application/json',
              authorization:token
            }
          })
          const result = await deleteProduct.json();
          if(result.success){
            document.getElementById('reloadData').classList.add('text-danger')
            document.getElementById('reloadData').classList.add('spinner-grow')
            $(document).ready(function () {
              swalWithBootstrapButtons.fire({
                title: "Deleted!",
                text: "Your product has been deleted.",
                icon: "success"
              });
            }); 
          }
            } else if (
              result.dismiss === Swal.DismissReason.cancel
            ) {
              swalWithBootstrapButtons.fire({
                title: "Cancelled",
                text: "Your product is safe :)",
                icon: "error"
              });
            }
            else{
              console.log(result)
            Toast.fire({
              icon: "error",
              title: result.error,
            });
          }
          });
        }

</script> -->